* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6f6;
  letter-spacing: -1px;
  font-weight: 400;
  overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.font-title {
  font-family: "Dancing Script", cursive !important;
  font-weight: 700;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: fit-content;
}

.button .button-icon {
  background-color: $light-violet;
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.button .button-icon img {
  width: 50%;
  margin-top: 3px;
  transition: all ease 0.3s;
}

.button:hover .button-icon img {
  transform: rotate(-30deg);
}

.button span {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.03em;
  @include tablet {
    font-size: 14px;
  }
}

.button:hover span {
  color: #000;
}

.element {
  position: absolute;
  height: auto;
}

.element img {
  width: 100%;
}

br {
  @include landscape-phone {
    display: none;
  }
}

.heading-block {
  .title {
    color: $black;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 400;
    @include mobile {
      font-size: 35px;
    }
  }

  .desc {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    color: $gray;
    letter-spacing: -0.005em;
  }
}

.banner {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 75px;
  @include flex(row, start, center, unset);
  @include landscape-phone {
    height: 300px;
  }
  &-title {
    font-size: 75px;
    font-weight: 500;
    color: $dark-violet;
    @include landscape-phone {
      font-size: 50px;
      text-align: center;
    }
  }
}

.courses-item {
  position: relative;
  background-color: $white;
  padding: 20px;
  margin-top: 100px;
  border-radius: $border-radius-md;
  transition: all ease 1s;
  cursor: pointer;
  @include flex(column, unset, start, 35px);

  &:hover {
    background-color: $light-violet-3;
  }
  &-lesson {
    font-size: 14px;
    line-height: 21px;
    color: $white;
    background-color: $dark-violet;
    border-radius: $border-radius-sm;
    padding: 8px 20px;
    min-width: 100px;
    text-align: center;
    letter-spacing: 0;
    font-weight: 200;
  }
  &-teacher {
    width: 200px;
    height: 200px;
    border-radius: 300px;
    border: 5px solid $white-2;
    overflow: hidden;
    position: absolute;
    top: -100px;
    right: 24px;
    z-index: 1;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-rating {
    width: 100px;
    img {
      width: 100%;
    }
  }
  &-content {
    width: 100%;
    @include flex(column, start, unset, 20px);
    &-text {
      .title {
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 33px;
        margin-bottom: 5px;
        transition: all ease 0.5s;
        display: inline-block;
        &:hover {
          color: $dark-violet;
        }
        @include mobile {
          font-size: 20px;
        }
      }
      .desc {
        color: $gray;
        font-size: 12px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: -0.03em;
      }
    }
    &-price {
      @include flex(row, space-between, center, unset);
      border-radius: $border-radius-sm;
      background-color: #fafafa;
      padding: 16px 20px;
      width: 100%;
      .current-price {
        color: $dark-violet;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.6px;
      }
      .old-price {
        color: #a7a7a7;
        font-size: 15px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: -0.45px;
        text-decoration: line-through;
      }
    }
  }
}

/* START HEADER */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $white-2;
  border-bottom: 1px solid #ededed;
}

#header .mobile-header {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  @include landscape-phone {
    display: flex;
  }
}

#header .pc-header {
  display: block;
  @include landscape-phone {
    display: none;
  }
}

#header .mobile-header-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $dark-violet;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
}

#header .mobile-header-modal.active {
  transform: translateX(0);
}

#header .mobile-header-modal * {
  color: #f6f6f6;
}

#header .mobile-header-modal .header-menu {
  flex-direction: column;
  gap: 30px;
}

#header .mobile-header-modal .header-menu .header-menu-item a {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.03em;
}

#header .mobile-header .mobile-header-button {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: $dark-violet;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .mobile-header .mobile-header-button i {
  color: #f6f6f6;
  font-size: 16px;
}

#header .mobile-header-modal .mobile-header-button {
  background-color: #f6f6f6;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 5;
}

#header .mobile-header-modal .mobile-header-button i {
  color: $dark-violet;
}

#header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  @include tablet {
    gap: 15px;
  }
}

#header .header-menu-item a {
  letter-spacing: -0.03em;
  font-size: 16px;
  transition: all ease 0.5s;
  @include tablet {
    font-size: 14px;
  }
}

#header .header-menu-item:hover > a {
  color: $dark-violet;
  @include landscape-phone {
    color: $white-2;
  }
}

#header {
  .header-menu-item {
    position: relative;
    &:hover {
      .header-menu-item-list {
        display: block;
      }
    }
    &-list {
      position: absolute;
      top: 35px;
      left: -10px;
      min-width: 200px;
      box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.05);
      background-color: $white-2;
      display: none;
      border-radius: 10px;

      &::after {
        content: "";
        position: absolute;
        z-index: 0;
        top: -15px;
        left: 0;
        width: 100%;
        height: 15px;
      }
      .item {
        &-link {
          display: block;
          padding: 12px 10px;
          transition: all ease 0.5s;
          font-size: 14px;
          letter-spacing: -0.03em;
          border-radius: 10px;
          &:hover {
            background-color: $light-violet;
            color: $black;
          }
        }
      }
    }
  }
}

#header .header-logo a {
  font-size: 50px;
  color: $dark-violet;
}
/* END HEADER */

/* START FOOTER */
#footer {
  margin-top: 200px;
  @include landscape-phone {
    margin-top: 100px;
  }
}

#footer * {
  color: #f6f6f6;
}

#footer .footer-shape,
#footer .footer-shape img {
  width: 100%;
}

#footer .footer-shape {
  transform: translateY(5px);
}

#footer .footer-content {
  background-color: #a06aa5;
  padding-bottom: 100px;
}

#footer .footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer .footer-logo .logo {
  font-size: 200px;
  @include tablet {
    font-size: 100px;
  }
}

#footer .footer-logo .footer-logo-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @include tablet {
    gap: 10px;
  }
}
#footer .footer-logo .footer-logo-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #f6f6f6;
}

#footer .footer-logo .footer-logo-social a i {
  color: #a06aa5;
  font-size: 20px;
  padding: 10px 15px;
  @include tablet {
    font-size: 16px;
    padding: 10px 14px;
  }
}

#footer .footer-link {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  height: 100%;
  @include landscape-phone {
    justify-content: center;
    margin-top: 30px;
  }
}

#footer .footer-link h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

#footer .footer-link .footer-link-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

#footer .footer-link .footer-link-list * {
  font-weight: 200;
  margin-bottom: 0;
  letter-spacing: -0.03em;
  @include tablet {
    font-size: 14px;
  }
}

/* END FOOTER */
