/* START BANNER */
#banner {
  margin-top: 200px;
}

#banner .banner-img,
#banner .banner-img img {
  width: 100%;
}

#banner .banner-img {
  position: relative;
}

#banner .banner-img .element {
  width: 150px;
  left: -30%;
  bottom: -10%;
}

#banner .banner-content {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  height: 100%;
  position: relative;
}

#banner .banner-content .element {
  width: 300px;
  top: -10%;
  right: -15%;
  z-index: -1;
}

#banner .banner-content-title {
  display: flex;
  align-items: center;
  justify-content: start;
}

#banner .banner-content-title h1 {
  font-size: 80px;
  line-height: 1;
  width: fit-content;
}

#banner .banner-content-title h1 span:first-child {
  color: var(--dark-violet);
}

#banner .banner-content-title h1 span:last-child {
  transform: translateX(50%);
  display: block;
  width: fit-content;
}

#banner .banner-content-description {
  font-size: 18px;
}

/* END BANNER */

/* START ADVANTAGES */
#advantage {
  margin-top: 150px;
}

#advantage .advantage-item-container {
  display: flex;
  align-items: center;
  height: 100%;
}

#advantage .advantage-item {
  padding: 20px;
  border-radius: 20px;
}

#advantage .advantage-item.active {
  background-color: var(--dark-violet);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

#advantage .advantage-item.active * {
  color: #f6f6f6;
}

#advantage .advantage-item-icon {
  width: 70px;
  margin-bottom: 30px;
}

#advantage .advantage-item-icon img {
  width: 100%;
  box-shadow: drop-shadow(-30px, -30px, var(--dark-violet));
  filter: drop-shadow(-25px 20px 40px var(--dark-violet));
  transition: all ease 0.75s;
}

#advantage .advantage-item:hover .advantage-item-icon img {
  transform: rotate(-30deg);
}

#advantage .advantage-item h3 {
  font-size: 25px;
  margin-bottom: 15px;
}

#advantage .advantage-item p {
  font-size: 18px;
}

#advantage .advantage-img,
#advantage .advantage-img img {
  width: 100%;
}

/* END ADVANTAGES */

/* START DOCS */
#docs {
  margin-top: 150px;
}

#docs h2 {
  font-size: 80px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 100px;
}

#docs h2 span {
  color: var(--dark-violet);
}

#docs .docs-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: fit-content;
  margin: 0 auto;
}

#docs .docs-content h3 {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}

#docs .docs-content-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#docs .docs-content-list-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

#docs .docs-content-list-item p {
  margin-bottom: 0;
  font-size: 18px;
}

#docs .docs-content-list-item-icon {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: var(--light-violet);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.25);
}

#docs .docs-content-list-item-icon img {
  width: 60%;
  margin-top: 4px;
}

#docs .docs-img,
#docs .docs-img img {
  width: 100%;
  position: relative;
}

#docs .row .docs-img .element.path-1 {
  width: 130px;
  top: -15%;
  right: 35%;
}

#docs .row .docs-img .element.path-2 {
  width: 220px;
  top: -12%;
  right: -22%;
}

#docs .row .docs-img .element.path-3 {
  width: 175px;
  top: -12%;
  left: -12%;
}

/* END DOCS */

/* START PT */
#pt {
  background-image: url(../images/element/wave.png);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  margin-top: 150px;
  padding-bottom: 150px;
}

#pt .pt-content {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  height: 100%;
}

#pt .pt-content h2 {
  font-size: 80px;
  line-height: 1;
  width: fit-content;
}

#pt .pt-content h2 span {
  color: var(--dark-violet);
}

#pt .pt-content p {
  max-width: 80%;
  width: 100%;
}

#pt .pt-list {
  overflow: hidden;
  padding-bottom: 50px;
}

#pt .swiper {
  width: 600px;
  overflow: unset;
  margin-right: 0;
}

#pt .swiper-slide {
  max-width: 600px;
  padding-bottom: 50px;
}

#pt .pt-item {
  position: relative;
}

#pt .pt-item-info {
  position: absolute;
  bottom: -50px;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  padding: 20px 30px;
  transform: translateX(-50%);
}

#pt .pt-item-info .pt-item-info-tag {
  background-color: var(--light-violet);
  min-width: 80px;
  height: 80px;
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
#pt .pt-item-info .pt-item-info-tag p {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 25px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

#pt .pt-item-info .pt-item-info-text {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #bbb;
}

#pt .pt-item-info .pt-item-info-text h3 {
  font-size: 25px;
  font-weight: 600;
}

#pt .pt-item-info .pt-item-info-text p {
  margin-bottom: 0;
  font-size: 16px;
}

#pt .pt-item-img {
  width: 600px;
  border-radius: 50px;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pt .pt-item-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
/* END PT */

/* START TESTIMONIAL */
#testimonial {
}

#testimonial .testimonial-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  height: 100%;
}

#testimonial .testimonial-content h2 {
  font-size: 80px;
  line-height: 1;
  width: fit-content;
}

#testimonial .testimonial-content h2 span {
  color: var(--dark-violet);
}

#testimonial .testimonial-content p {
  width: 60%;
}

#testimonial .testimonial-img,
#testimonial .testimonial-img img {
  width: 100%;
}

#testimonial .testimonial-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* END TESTIMONIAL */

/* START FORM */
#form {
  margin-top: 300px;
}

#form .form-container {
  background-color: var(--light-violet);
  border-radius: 50px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  padding: 50px 80px;
}

#form .form-container .form-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form .form-container .form-img img {
  width: 45%;
  transform: translateY(-15%) scale(1.2);
}

#form .form-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 40px;
}

#form .form-input-item input[type="text"],
#form .form-input-item input[type="number"] {
  width: 100%;
  padding: 15px;
  border-radius: 50px;
  border: 2px solid var(--light-violet);
  transition: all ease 0.3s;
  outline: none;
}

#form .form-input-item input[type="text"]:focus,
#form .form-input-item input[type="number"]:focus {
  border: 2px solid var(--dark-violet);
}

#form .form-input-item h3 {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 20px;
}

#form .form-input-item h4 {
  font-size: 20px;
  font-weight: 500;
}

#form .form-input-item-detail {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#form .form-input-item-detail label {
  margin-right: 20px;
}

#form .form-input-item-detail input[type="radio"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

#form .form-input-item-detail input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

#form .button {
  padding: 10px 10px 10px 30px;
  background-color: #f6f6f6;
  border-radius: 50px;
  margin: 0 auto;
}
/* END FORM */
